.form__wrapper {
  background-color: rgb(179, 172, 164, 50%);
}

/* вертикальный внутренний отступ в форме */
.form__content {
  padding: 10px 0px;
}

/* тег формы которая задает отступы и последовательность  */
form {
  padding: 0px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

/* кружок выбора черный */
body {
  accent-color: black;
}

form > div {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
  width: 90vw;
  border-radius: 0px;
}

.grid_cols,
textarea {
  margin-top: 10px;
}

/* тапательные заголовоки */
label {
  color: black;
  font-family: "Kurale", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 0px 0px 4px 0px;
}

/* тапательные слова в ответах */
label.check {
  font-family: "Caveat", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

/* текст пометочка */
small {
  color: #5b5b5b;
  font-family: "Caveat", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0px 0px 8px 0px;
}

.req_arrow {
  background-image: url(/static/icons/arrow_req.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  display: block;
  width: 46px;
  height: 24px;
}

.req_arrow.show {
  animation: arrow_showing 1s;
}

@keyframes arrow_showing {
  0% {
    background-position-x: -100px;
  }
  100% {
    ackground-position-x: 0px;
  }
}

.send_request:active {
  background-color: rgb(179, 172, 164, 40%);
}

.send_request.sended > .req_arrow {
  transition: 0.4s;
  background-position-x: 100px;
}

.send_request {
  display: flex;
  align-items: center;
  gap: 8px;
  border: unset;
  background-color: unset;
  padding: 4px 8px;
  align-self: flex-end;
  width: fit-content;
  font-family: "Kurale", serif;
  font-size: 24px;
  text-decoration: unset;
  color: black;
}
