@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cherry+Swash:wght@400;700&display=swap');
body {
    margin: unset;
    padding: unset;
    background-color: #F2ECEC;
}

section:not(:last-of-type):not(:first-of-type) {
    width: 100vw;
    margin-bottom: 60px; 
}

#invocation{
    margin-bottom: 100px; 

}

/* закрывает вкладку меню */
.closed {
    /* display: none; */
    top: 200px; 
    position: fixed;
}

/* штрифт текста */
h1.logo {
    font-size: 96px;
    font-weight: 400;
    font-family: "Arizonia", serif;
    padding-right: 40px;
    padding-top: 50px;
    line-height: 0px;

}

.logo.white {
    color: white;
    opacity: 50%;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    font-family: "Arizonia", serif;
    line-height: 60px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: "Kurale", serif;
    line-height: 48px;
    margin: 20px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: "Cherry Swash", serif;
    line-height: 40px;
    text-align: center;
    margin: 10px;
    color: #F2ECEC;
}

h4 {
    font-size: 28px;
    font-weight: 400;
    font-family: "Caveat", serif;
    line-height: 30px;
    text-align: center;
    margin: 0px;
}

h4.small {
    font-size: 26px;

    margin: 0px;
    color: #F2ECEC;
}

p {
    font-size: 20px;
    font-weight: 400;
    font-family: "Caveat", serif;
    line-height: 22px;
    text-align: center;
    margin: 20px 0px;
}
p.bolt {
    font-weight: 700;
    line-height: 14px;
}

p.brown {
    color: #45342C;
    font-size: 18px;
    text-align: right;
}

.dress_code__content p.brown {
    /* text-decoration: underline; */
    margin: 0px 0px 10px 0px;
    padding-right: 24px;
}

.form__content > p.brown {
    margin: 12px 20px 30px 0px;
}

/* ссылка */
a, a:active {
    text-decoration: underline;
    color: #45342C;
    font-size: 14px;
    font-weight: 400;
    font-family: "Kurale", serif;
    line-height: 20px;
    opacity: 70%;
}

p > a {
    font-size: 24px;
    font-weight: 400;
    font-family: "Caveat", serif;
    line-height: 22px;
    text-align: center;
    margin: 20px 0px;
    color: #45342C;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

button {
    
}

/* дефолтный центральный флекс */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* дефолтный отступ 20 */
.gap {
    gap: 20px;
}

/* дефолтный отступ 10 */
.gap_10 {
    gap: 10px;
}

/* делает две колонки */
.grid_cols2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

/* делает три колонки */
.grid_cols3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 40px;
    justify-items: center;
    align-items: center;
    gap: 12px;

}

/* 4 кружка */
.four_cell {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 22px 16px;

}

/* расположение контента */
.right_side {
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.center_side {
    display: flex;
    justify-content: center;
}

.left_side {
    display: flex;
    justify-content: start;
    padding-left: 20px;
}

.text_left {
    text-align: left;
    margin-left: 30px;
}

/* приятный текст отталкивает */
.plesent_text {
    margin-bottom: 80px;
    position: relative;
}

.invocation__content {
    position: relative;
}

html {
    scroll-behavior: smooth;
  }

.location {
    display: flex;
    flex-direction: column;
    gap: 30px;
}  


/*  */
.dress_toggle {
    animation: dress_button 4s infinite ;
    padding: 4px 8px;
    text-decoration: unset;
    cursor: pointer;
}

@keyframes dress_button {
    30% {
        /* background-color:  rgb(179, 172, 164, 40%); */
        text-decoration: underline;
    }

    70% {
        /* background-color:  rgb(179, 172, 164, 40%); */
        text-decoration: underline;
    }

}